
h1,h2,h3,h4,h5,h6
{
   font-family:verdana;
   color:#808080;
}
body {
	background-color: #FFEBF5;
}
#back{
position: absolute;
right: 100px;
bottom: 55px;
}
body, td, input, select, textarea, p,th
{
   font-size:13px;
   font-family:verdana;
   color:#000000;
   padding:4px;
}
a:link{
   color:#000000; text-decoration:none;
   font-size:13px; font-family:verdana;
}
a:visited{
   color:#e6999b; text-decoration:none;
   font-size:13px; font-family:verdana;
}
a:hover{
   color:pink; text-decoration:underline;
   font-size:13px; font-family:verdana;
}
.box{
   border:1px solid navy;
   padding-left:8px;
}
.outline{
   border-top:4px double navy;
   border-bottom:4px double navy;
}
.m1{
background-color:#e9e8ec; 
border-bottom:1px dotted #ff80c0;
}
.m2{
background-color:#FFEFF7; 
border-bottom:1px dotted #EAF0E8;
}
.m3{
border-bottom:1px dotted navy;
}
.line {
	border-bottom: 1px solid gray;
}

.main {
	width: 100%;
	height: 100%;
	background: white;
	position: absolute;
	top: 30%;
}